{% extends "base.html" %}
{% block title %}StockBot產業一覽{% endblock %}
    {% block main %}
    <style>
      .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #94bfd6;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }

      td {
          border-color: white;
      }

      a {text-decoration:none;}
    </style>

    <div class="container title">
      <h2>通信網路業</h2>
    </div>
    <div class="container wel">
      <select  style="float: right; width: 100px" onchange="javascript:handleSelect(this)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>其他產業</option>
        <option value="水泥工業">水泥工業</option>
        <option value="食品工業">食品工業</option>
        <option value="塑膠工業">塑膠工業</option>
        <option value="橡膠工業">橡膠工業</option>
        <option value="半導體業">半導體業</option>
        <option value="電機機械">電機機械</option>
        <option value="電腦及週邊設備業">電腦及週邊設備業</option>
        <option value="電器電纜">電器電纜</option>
        <option value="電子零組件業">電子零組件業</option>
        <option value="電子通路業">電子通路業</option>
        <option value="其他電子業">其他電子業</option>
        <option value="資訊服務業">資訊服務業</option>
        <option value="光電業">光電業</option>
        <option value="油電燃氣業">油電燃氣業</option>
        <option value="鋼鐵工業">鋼鐵工業</option>
        <option value="建材營造業">建材營造業</option>
        <option value="化學工業">化學工業</option>
        <option value="汽車工業">汽車工業</option>
        <option value="航運業">航運業</option>
        <option value="生技醫療業">生技醫療業</option>
        <option value="造紙工業">造紙工業</option>
        <option value="玻璃陶瓷">玻璃陶瓷</option>
        <option value="紡織纖維">紡織纖維</option>
        <option value="貿易百貨業">貿易百貨業</option>
        <option value="金融保險業">金融保險業</option>
        <option value="觀光事業">觀光事業</option>
        <option value="其他業">其他業</option>
      </select>
      <br>
      <div>
        <h5>上游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3138) }}" name='stock' id='3138' > 3138	耀登</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=6426) }}" name='stock' id='6426' > 6426	統新</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=6792) }}" name='stock' id='6792' > 6792	詠業</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=8011) }}" name='stock' id='8011' > 8011	台通</a></td>
              <td style="width:34%"></td>
              <td style="width:33%"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>
      <div>
        <h5>下游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2314) }}" name='stock' id='2314' > 2314	台揚</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2321) }}" name='stock' id='2321' > 2321	東訊</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2332) }}" name='stock' id='2332' > 2332	友訊</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2345) }}" name='stock' id='2345' > 2345	智邦</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2412) }}" name='stock' id='2412' > 2412	中華電</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2419) }}" name='stock' id='2419' > 2419	仲琦</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2439) }}" name='stock' id='2439' > 2439	美律</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2450) }}" name='stock' id='2450' > 2450	神腦</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2485) }}" name='stock' id='2485' > 2485	兆赫</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2498) }}" name='stock' id='2498' > 2498	宏達電</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=3025) }}" name='stock' id='3025' > 3025	星通</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=3027) }}" name='stock' id='3027' > 3027	盛達</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3045) }}" name='stock' id='3045' > 3045	台灣大</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=3047) }}" name='stock' id='3047' > 3047	訊舟</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=3062) }}" name='stock' id='3062' > 3062	建漢</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3380) }}" name='stock' id='3380' > 3380	明泰</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=3419) }}" name='stock' id='3419' > 3419	譁裕</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=3596) }}" name='stock' id='3596' > 3596	智易</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3669) }}" name='stock' id='3669' > 3669	圓展</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=3682) }}" name='stock' id='3682' > 3682	亞太電</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=3694) }}" name='stock' id='3694' > 3694	海華</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3704) }}" name='stock' id='3704' > 3704	合勤控</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=4904) }}" name='stock' id='4904' > 4904	遠傳</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=4906) }}" name='stock' id='4906' > 4906	正文</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=4977) }}" name='stock' id='4977' > 4977	眾達-KY</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=5388) }}" name='stock' id='5388' > 5388	中磊</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=6136) }}" name='stock' id='6136' > 6136	富爾特</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=6142) }}" name='stock' id='6142' > 6142	友勁</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=6152) }}" name='stock' id='6152' > 6152	百一</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=6216) }}" name='stock' id='6216' > 6216	居易</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=6285) }}" name='stock' id='6285' > 6285	啟碁</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=6416) }}" name='stock' id='6416' > 6416	瑞祺電通</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=6442) }}" name='stock' id='6442' > 6442	光聖</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=6674) }}" name='stock' id='6674' > 6674	鋐寶科技</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=6792) }}" name='stock' id='6792' > 6792	詠業</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=8011) }}" name='stock' id='8011' > 8011	台通</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=8101) }}" name='stock' id='8101' > 8101	華冠</a></td>
              <td style="width:34%"></td>
              <td style="width:33%"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>
      <div>
        <h5>其他</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2444) }}" name='stock' id='2444' > 2444	兆勁</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2455) }}" name='stock' id='2455' > 2455	全新</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=3311) }}" name='stock' id='3311' > 3311	閎暉</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <script type="text/javascript">
      function handleSelect(elm)
      {
         window.location.href = "https://stockbottttt.herokuapp.com/" + elm.value;
      }
    </script>
    {% endblock %}
