{% extends "base.html" %}
{% block title %}StockBot產業一覽{% endblock %}
    {% block main %}
    <style>
      .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #94bfd6;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }

      td {
          border-color: white;
      }

      a {text-decoration:none;}
    </style>

    <div class="container title">
      <h2>油電燃氣業</h2>
    </div>
    <div class="container wel">
      <select  style="float: right; width: 100px" onchange="javascript:handleSelect(this)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>其他產業</option>
        <option value="水泥工業">水泥工業</option>
        <option value="食品工業">食品工業</option>
        <option value="塑膠工業">塑膠工業</option>
        <option value="橡膠工業">橡膠工業</option>
        <option value="半導體業">半導體業</option>
        <option value="電機機械">電機機械</option>
        <option value="電腦及週邊設備業">電腦及週邊設備業</option>
        <option value="電器電纜">電器電纜</option>
        <option value="電子零組件業">電子零組件業</option>
        <option value="電子通路業">電子通路業</option>
        <option value="其他電子業">其他電子業</option>
        <option value="資訊服務業">資訊服務業</option>
        <option value="光電業">光電業</option>
        <option value="鋼鐵工業">鋼鐵工業</option>
        <option value="建材營造業">建材營造業</option>
        <option value="化學工業">化學工業</option>
        <option value="汽車工業">汽車工業</option>
        <option value="航運業">航運業</option>
        <option value="生技醫療業">生技醫療業</option>
        <option value="造紙工業">造紙工業</option>
        <option value="玻璃陶瓷">玻璃陶瓷</option>
        <option value="紡織纖維">紡織纖維</option>
        <option value="貿易百貨業">貿易百貨業</option>
        <option value="金融保險業">金融保險業</option>
        <option value="觀光事業">觀光事業</option>
        <option value="通信網路業">通信網路業</option>
        <option value="其他業">其他業</option>
      </select>
      <br>
      <div>
        <h5>無分游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=1904) }}" name='stock' id='1904' > 2616	山隆</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=1905) }}" name='stock' id='1905' > 6505	台塑化</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=1909) }}" name='stock' id='1909' > 8926	台汽電</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=6790) }}" name='stock' id='6790' > 9908	大台北</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=1903) }}" name='stock' id='1903' > 9918	欣天然</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=1904) }}" name='stock' id='1904' > 9926	新海</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=1905) }}" name='stock' id='1905' > 9931	欣高</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=1907) }}" name='stock' id='1907' > 9937	全國</a></td>
              <td style="width:33%"></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <script type="text/javascript">
      function handleSelect(elm)
      {
         window.location.href = "https://stockbottttt.herokuapp.com/" + elm.value;
      }
    </script>
    {% endblock %}
