{% extends "base.html" %}
{% block title %}StockBot產業一覽{% endblock %}
    {% block main %}

    <style>
      .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #94bfd6;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }

      td {
          border-color: white;
      }

      a {text-decoration:none;}
    </style>

    <div class="container title">
      <h2>鋼鐵工業</h2>
    </div>
    <div class="container wel">
      <select  style="float: right; width: 100px" onchange="javascript:handleSelect(this)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>其他產業</option>
        <option value="水泥工業">水泥工業</option>
        <option value="食品工業">食品工業</option>
        <option value="塑膠工業">塑膠工業</option>
        <option value="橡膠工業">橡膠工業</option>
        <option value="半導體業">半導體業</option>
        <option value="電機機械">電機機械</option>
        <option value="電腦及週邊設備業">電腦及週邊設備業</option>
        <option value="電器電纜">電器電纜</option>
        <option value="電子零組件業">電子零組件業</option>
        <option value="電子通路業">電子通路業</option>
        <option value="其他電子業">其他電子業</option>
        <option value="資訊服務業">資訊服務業</option>
        <option value="光電業">光電業</option>
        <option value="油電燃氣業">油電燃氣業</option>
        <option value="建材營造業">建材營造業</option>
        <option value="化學工業">化學工業</option>
        <option value="汽車工業">汽車工業</option>
        <option value="航運業">航運業</option>
        <option value="生技醫療業">生技醫療業</option>
        <option value="造紙工業">造紙工業</option>
        <option value="玻璃陶瓷">玻璃陶瓷</option>
        <option value="紡織纖維">紡織纖維</option>
        <option value="貿易百貨業">貿易百貨業</option>
        <option value="金融保險業">金融保險業</option>
        <option value="觀光事業">觀光事業</option>
        <option value="通信網路業">通信網路業</option>
        <option value="其他業">其他業</option>
      </select>
      <br>
      <div>
        <h5>上游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2002) }}" name='stock' id='2002'> 2002 中鋼</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2006) }}" name='stock' id='2006' > 2006 東和鋼鐵</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2015) }}" name='stock' id='2015' > 2015 豐興</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2028) }}" name='stock' id='2028' > 2028 威致</a></td>
            </tr>
          </tbody>
        </table>
       </div>
        
      <br><br>
      <div>
        <h5>中s游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2002) }}" name='stock' id='2002'> 2002 中鋼</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2006) }}" name='stock' id='2006' > 2006 東和鋼鐵</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2007) }}" name='stock' id='2007' > 2007 燁興</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2008) }}" name='stock' id='2008' > 2008 高興昌 </a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2009) }}" name='stock' id='2009' > 2009 第一銅</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2010) }}" name='stock' id='2010' > 2010 春源</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2012) }}" name='stock' id='2012' > 2012 春雨</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2014) }}" name='stock' id='2014'> 2014 中鴻 </a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2015) }}" name='stock' id='2015'> 2015 豐興</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2017) }}" name='stock' id='2017' > 2017 官田鋼</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2020) }}" name='stock' id='2020'> 2020 美亞</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2022) }}" name='stock' id='2022'> 2022 聚亨</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2023) }}" name='stock' id='2023'> 2023 燁輝</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2025) }}" name='stock' id='2025'> 2025 千興</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2027) }}" name='stock' id='2027'> 2027 大成鋼</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2028) }}" name='stock' id='2028'> 2028 威致</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2029) }}" name='stock' id='2029'> 2029 盛餘</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2030) }}" name='stock' id='2030'> 2030 彰源</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2031) }}" name='stock' id='2031'> 2031 新光鋼</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2032) }}" name='stock' id='2032'> 2032 新鋼</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2034) }}" name='stock' id='2034'> 2034 允強</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2038) }}" name='stock' id='2038'> 2038 海光</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2039) }}" name='stock' id='2039'> 2069 運錩</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <br><br>    
      <div>
        <h5>下游</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2010) }}" name='stock' id='2010'> 2010	春源</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2012) }}" name='stock' id='2012' > 2012 春雨</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2013) }}" name='stock' id='2013'> 2013	中鋼構</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2015) }}" name='stock' id='2015' > 2015 豐興</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2017) }}" name='stock' id='2017' > 2017 官田鋼</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2022) }}" name='stock' id='2022' > 2022 聚亨</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=2024) }}" name='stock' id='2024' >2024	志聯 </a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=2033) }}" name='stock' id='2033'> 2033	佳大</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=2211) }}" name='stock' id='2211' > 2211 長榮鋼</a></td>
            </tr>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=3004) }}" name='stock' id='3004'> 3004	豐達科</a></td>
              <td style="width:34%"><a href="{{ url_for('income', id=5007) }}" name='stock' id='5007' > 5007 三星</a></td>
              <td style="width:33%"><a href="{{ url_for('income', id=5538) }}" name='stock' id='5538'> 5538	東明-KY</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>    
      <div>
        <h5>其他</h5>
        <table class="table">
          <tbody>
            <tr>
              <td style="width:33%"><a href="{{ url_for('income', id=9958) }}" name='stock' id='9958'>9958 世紀鋼</a></td>
              <td style="width:34%"></td>
              <td style="width:33%"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/javascript">
      function handleSelect(elm)
      {
         window.location.href = "https://stockbottttt.herokuapp.com/" + elm.value;
      }
    </script>
    {% endblock %}
